 body {
    margin: 10px;
  }
  
  #img {
    /*-webkit-transform: rotateZ(45deg) scale(0.5) translate(-800px);*/
    width: 80%;
    -webkit-animation: breathe 6s linear infinite;
  }
  
  @-webkit-keyframes breathe{
    from { opacity: 1; }
    50% { opacity: 0; }
    to { opacity: 1;}
  }
  
  #img2 {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 50px;
    text-align: center;
  }
  
  #img2 img{
    max-width: 100%;
  }
  
